:root {
    --baseColor: #252525;
    --baseColorRGB: 37, 37, 37;
    --accentColor: #ce0037;
    --accentColorRGB: 81, 0, 22;
}

.background[data-v-d9238ce6],
.name-page[data-v-0238bf17] {
    background: url(https://cdn.discordapp.com/attachments/680034529146044436/929019475179753513/kirka_bg.png);
}

.pattern-bg[data-v-d9238ce6] {
    background: url(https://media.discordapp.net/attachments/920718364261879821/929225758843498506/redtitan.png?width=630&height=559) repeat;
    animation: loopPattern-data-v-d9238ce6 80s linear infinite;
}

.head[data-v-4e2ec512],
.list[data-v-4e2ec512],
.logo[data-v-d9238ce6],
.bg-radial[data-v-d9238ce6],
.bg-gradient[data-v-174cb81c],
.gun-img[data-v-174cb81c],
.chests[data-v-174cb81c],
.progress-label[data-v-9dd62bd0],
.info[data-v-43caa132] {
    display: none !important;
}

.background[data-v-7a2de70d],
.container[data-v-7a2de70d],
.leaderboard-cont[data-v-f110cb4e],
.preview[data-v-1d9d2e16],
.img-bg[data-v-1d9d2e16],
.clans[data-v-3a66d112],
.chat[data-v-1d9d2e16],
.messages[data-v-27dba9d0],
.card-cont[data-v-040b7087],
.settings[data-v-d9238ce6],
.esc-interface[data-v-b427fee8],
.right-container[data-v-b427fee8],
.container-card[data-v-747e6ab9],
.add-friends[data-v-4d25bc18],
.avatar[data-v-2fe1d78c],
.bottom[data-v-2fe1d78c],
.subjects[data-v-2fe1d78c] {
    background: transparent !important;
    box-shadow: none;
    backdrop-filter: blur(0.5rem);
    border: none;
}

.card-cont[data-v-47a01a9a],
.icon-btn[data-v-45658db6],
.card[data-v-41938989],
.top-bar[data-v-0238bf17],
.preview[data-v-1d9d2e16],
.messages[data-v-76a3fe0a] {
    background: rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(0.25rem);
    border-radius: 1rem;
}

.progress-line[data-v-5aafd15a],
.top-items[data-v-0926e915],
.list-cont[data-v-0926e915],
.info-awards[data-v-f110cb4e],
.reset-time[data-v-174cb81c],
.champions-list[data-v-8a6d4c66],
.description[data-v-040b7087],
.all-scores[data-v-040b7087],
.champions-stat[data-v-040b7087],
.list-container[data-v-3bcb580a],
.input[data-v-595c2068],
.player[data-v-b427fee8],
.hp-title[data-v-57051149],
.head-text[data-v-4d25bc18],
.tabs[data-v-3547fad6],
.tab-bar[data-v-3d11cf09],
.tab[data-v-3d11cf09],
.box[data-v-21e538bc],
.friend[data-v-f404d03e],
.level-cont[data-v-f404d03e],
.add[data-v-f404d03e],
.delete[data-v-f404d03e],
.bg[data-v-1d4749de],
.kill-bar-item[data-v-6200f284] {
    background-color: var(--baseColor) !important;
    box-shadow: none;
    border: none;
}

.text[data-v-02c36fca],
.clan-tag[data-v-e6e1daf8],
.clan-tag[data-v-41938989],
.clan-tag[data-v-f110cb4e],
.label-primary[data-v-f110cb4e],
.awards-span[data-v-f110cb4e],
.top-name[data-v-0926e915],
.active[data-v-3a66d112],
.nav[data-v-3a66d112]:hover,
.list-labels[data-v-8a6d4c66],
.map-name[data-v-1d9d2e16],
.champions-league[data-v-040b7087],
.champions-scores[data-v-040b7087],
.all-scores-label[data-v-040b7087],
.primary[data-v-3bcb580a],
.labels[data-v-3bcb580a],
.disable[data-v-038aad28],
.level-text[data-v-9dd62bd0],
.header[data-v-2f6eb6f6],
.stat-name[data-v-41938989],
.progress-level-value[data-v-41938989],
.label[data-v-b427fee8],
.header[data-v-21e538bc] {
    color: var(--accentColor) !important;
}

.levels[data-v-e6e1daf8],
.levels[data-v-41938989],
.level-value[data-v-9dd62bd0],
.server[data-v-1d9d2e16],
.online[data-v-1d9d2e16],
.lvl-leader[data-v-f110cb4e],
.active-tab[data-v-3547fad6],
.tab[data-v-3547fad6]:hover,
.level[data-v-2fe1d78c],
.home[data-v-0238bf17]:hover {
    background-color: var(--baseColor);
    color: var(--accentColor);
}

.custom-checkbox > span[data-v-47e1b746]:before,
.select-mod[data-v-d9238ce6],
.input[data-v-6b8c8819],
.item[data-v-0926e915],
.items .item[data-v-8a6d4c66],
.item-content[data-v-3bcb580a],
.input[data-v-a0b6da4a],
.input[data-v-595c2068],
.add[data-v-f404d03e]:hover,
.delete[data-v-f404d03e]:hover,
.gun[data-v-b427fee8]{
    background: var(--baseColor) !important;
    border: 0.15rem solid rgba(255, 255, 255, 0.1) !important;
}

.avatar-info[data-v-9dd62bd0]:hover,
.user-info[data-v-9dd62bd0]:hover,
.label-card[data-v-2bcdf8f9]:hover,
.inventory-card[data-v-d9238ce6]:hover,
.select-mod[data-v-d9238ce6]:hover,
.selected[data-v-2fe1d78c] {
    background-color: var(--accentColor);
}

.icon-btn[data-v-45658db6]:hover,
.icon-btn[data-v-45658db6]:hover,
.active[data-v-ce054580],
.tab[data-v-ce054580]:hover,
.server[data-v-1d9d2e16]:hover,
.tab[data-v-3547fad6]:hover,
.active-tab[data-v-3547fad6],
.tab[data-v-3d11cf09]:hover {
    border-top: 0.25rem solid var(--accentColor);
    background-color: var(--baseColor);
    color: var(--accentColor);
}

.left-icons[data-v-d9238ce6] {
    margin-top: 5rem;
}

.icon-btn[data-v-45658db6] {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
}

.icon[data-v-45658db6] {
    margin-top: 0;
}

.card-cont[data-v-47a01a9a],
.icon-btn[data-v-45658db6] {
    border-bottom: none;
    border-top: none;
    box-shadow: none;
}

.home[data-v-0238bf17],
.tabs[data-v-ce054580],
.active[data-v-ce054580],
.tab[data-v-ce054580]:hover {
    background: var(--baseColor);
    border-right: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.progress[data-v-5aafd15a],
.rules-icon[data-v-1d9d2e16] {
    background-color: var(--accentColor);
}

.button[data-v-02c36fca] {
    background-color: var(--baseColor) !important;
    --hover-color: rgba(var(--baseColorRGB), 0.5) !important;
    --top: rgba(255, 255, 255, 0.1) !important;
    --bottom: rgba(0, 0, 0, 0.2) !important;
}

.active[data-v-ce054580],
.tab[data-v-ce054580]:hover {
    background-color: var(--baseColor);
    color: var(--accentColor);
}

.info-key-cont[data-v-0686a978],
.progress-helper[data-v-27921169],
.progress[data-v-27921169],
.lvl[data-v-27921169],
.buy-btn[data-v-27921169],
.level-progress[data-v-dc99bd6e],
.endurance-progress[data-v-57051149] {
    background: var(--accentColor);
    color: white;
    box-shadow: none;
}

.level[data-v-b427fee8],
.btn-invite[data-v-b427fee8]:first-of-type {
    background-color: var(--baseColor);
    color: var(--accentColor);
    border: 0.15rem solid rgba(255, 255, 255, 0.1);
}

.state[data-v-57051149] {
    opacity: 1;
    left: 45rem;
}

.cont-endurance[data-v-57051149],
.cont-hp[data-v-57051149] {
    background: transparent;
}

.input-wrapper[data-v-6b8c8819] {
    position: absolute;
    bottom: -3.5rem;
}

.messages[data-v-76a3fe0a] {
    border-radius: 1rem;
    position: absolute;
    bottom: -0.5rem;
    max-width: 25rem;
}

.gun[data-v-2fe1d78c],
.subject[data-v-2fe1d78c] {
    background: var(--baseColor);
}

.item-name[data-v-2fe1d78c] {
    left: 1rem;
}

.active[data-v-3d11cf09] {
    background-color: var(--baseColor);
    color: var(--accentColor);
    border-bottom: var(--accentColor) solid 0.125rem;
}

:root {
    --Csize: 4px;
    --mainC: #ce0037;
}


body:before {
    border-radius: 200px;
    content: " ";
    background-image: linear-gradient(0deg, var(--mainC), var(--mainC));
    border: 1px solid black;
    background-size: var(--Csize), var(--Csize);
    width: var(--Csize);
    height: var(--Csize);
    position: fixed;
    left: 50%;
    bottom: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, 50%);
    z-index: 999 !important;
}
